# Generic files
.DS_Store

# Script Specific files
scripts/node_modules/**

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files in root
./*.tfvars
